img_menu RCDATA "src\\assets\\menu.png"
img_papel RCDATA "src\\assets\\papel.png"
img_iluminacao RCDATA "src\\assets\\iluminacao.png"
img_loja RCDATA "src\\assets\\loja.png"
img_procurar RCDATA "src\\assets\\procurar.png"
bebida1 RCDATA "src\\img\\bebida_alpino.jpg"
bebida2 RCDATA "src\\img\\bebida_nescau.jpg"
bebida3 RCDATA "src\\img\\bebida_neston.jpg"
bebida4 RCDATA "src\\img\\bebida_ninho.jpg"
bebida5 RCDATA "src\\img\\bebida_pirakids.jpg"
bebida6 RCDATA "src\\img\\bebida_todynho.jpg"
bebida7 RCDATA "src\\img\\bebida_alpino2.jpg"
bebida8 RCDATA "src\\img\\bebida_nescau2.jpg"
bebida9 RCDATA "src\\img\\bebida_neston2.jpg"
bebida10 RCDATA "src\\img\\bebida_ninho2.jpg"
bebida11 RCDATA "src\\img\\bebida_pirakids2.jpg"
bebida12 RCDATA "src\\img\\bebida_todynho2.jpg"
img_bbq RCDATA "src\\img\\bbq.png"
img_coffee RCDATA "src\\img\\coffee.png"
img_desert RCDATA "src\\img\\desert.png"
img_drink RCDATA "src\\img\\drink.png"
img_food RCDATA "src\\img\\food.png"
